*.log
*.pot
*.pyc
local_settings.py

# Local database
sqlite.db

# django files
manage.py
settings.py

# IDE project files
.pydevproject
.project
.settings

# docs
docs/_build

# build
RaspiBackup.egg-info
dist
build
src