{% extends 'template.html' %}
{% block content %}

{% if backups %}
	<table>
		<tr>
			<td id="header">Backup ID</td>
			<td id="header">Client</td>
			<td id="header">Start</td>
			<td id="header">End</td>
			<td id="header">Path</td>
			<td id="header">Log File</td>
			<td id="header">Success</td>
			<td id="header">Delete</td>
		</tr>
		{%for backup in backups %}
		<tr>
			<td id="content">{{backup.backup_id}}</td>
			<td id="content">{{backup.client.client_name}}</td>
			<td id="content">{{backup.backup_start_time|date:"d.m.Y H:i:s"}}</td>
			<td id="content">{{backup.backup_end_time|date:"d.m.Y H:i:s"}}</td>
			<td id="content">{{backup.backup_path}}</td>
			<td id="content"><a href="/raspibackup/show_log/?backup_id={{backup.backup_id}}">show</a></td>
			<td id="content">{{backup.backup_successful}}</td>
			<td id="content"><a href="/raspibackup/deletebackup/?backup_id={{backup.backup_id}}">Go</a></td>
		</tr>
		{% endfor %}
	</table>
{% endif %}

{% endblock %}