a {
	color: #000000;
	text-decoration: underlined;
}
a:hover {
	color: #555555;
	text-decoration: none;
}

table {
	background: #FFFFFF;
	padding: 1px;
	width: 1200px;
	margin: auto;
}

td#header {
	background: #CCCCCC;
	padding: 2px;
}

td#content {
	background: #DDDDDD;
	padding: 2px;
}


div#menu {
	text-align:right;
}

div#content {
	margin-top: 30px;
}